.content {
    background-color: #d7fff9;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
    margin: 1rem
}

.content input, .content textarea {
    width: 100%;
    background-color: #d7fff9;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
}

.contactButton {
    margin-left: 1rem;
}