@import './global.css';

.content {
    background-color: var(--tertiary);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
    margin: 1rem
}

.content input, .content textarea {
    width: 100%;
    background-color: var(--tertiary);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
}

.contactButton {
    margin-left: 1rem;
}

@media(prefers-color-scheme: dark) {
    .contactButton {
      color: #1b2d45;
    }
    .content label {
        color: #1b2d45;
    }
}